<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Juego_de_Pokemon</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>
<body>
	<header>
		@if (ViewData["CuentaUsuario"] != null)
		{
			<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
						<img src="~/images/logo.png" alt="Pokedex Logo" style="height: 60px;">
					</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse">
						<ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:auto;">
							<li class="nav-item">
								<a class="btn btn-primary" style="background-color: #6C86D3; border-color: #6C86D3; border-radius: 20px;" href="@Url.Action("Index", "Home")">Pokédex</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-primary" style="background-color: #6C86D3; border-color:#6C86D3; border-radius: 20px;" href="@Url.Action("Index", "Enfermeria")">Enfermería</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-primary" style="background-color: #6C86D3; border-color:#6C86D3; border-radius: 20px;" href="@Url.Action("Index", "RedEntrenadores")">Red de Entrenadores</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-primary" style="background-color: #6C86D3; border-color:#6C86D3; border-radius: 20px;" href="@Url.Action("Index", "Batalla")">Batalla (botón temporal)</a>
							</li>
						</ul>

						<ul class="navbar-nav ms-auto">
							<li class="nav-item d-flex">
								<a class="btn" href="@Url.Action("Index", "Retos")" style="background-color: #C9D1EF; border-color: #C9D1EF; border-radius: 50%; padding: 5px; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; margin-right: 15px;  position: relative;">
									@if (ViewData["RetosPendientes"] != null && (int)ViewData["RetosPendientes"] > 0)
									{
										<span style="background-color: red; color: white; border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; font-size: 12px; position: absolute; top: 0; right: 0;">
											@(ViewData["RetosPendientes"])
										</span>
									}
									<img src="~/images/batalla.png" alt="Batalla" style="height: 30px;" />
								</a>
								<a class="btn" href= @Url.Action("Index", "Mensajes") style="background-color: #C9D1EF; border-color:#C9D1EF; border-radius: 50%; padding: 5px; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; margin-right: 15px; position: relative;">
									@if (ViewData["MensajesNoLeidos"] != null && (int)ViewData["MensajesNoLeidos"] > 0)
									{
										<span style="background-color: red; color: white; border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; font-size: 12px; position: absolute; top: 0; right: 0;">
											@(ViewData["MensajesNoLeidos"])
										</span>
									}
									<img src="~/images/enviar.png" alt="Enviar" style="height: 30px;" />
								</a>
							</li>
							<li class="nav-item">
								<span class="nav-link text-dark">¡Hola, @ViewData["CuentaUsuario"]!</span>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Logout">Cerrar sesión</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		}
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	@if (ViewData["CuentaUsuario"] != null)
	{
		<footer class="border-top footer text-muted" style="margin-top: auto; background-color: #6C86D3; color: white; font-weight: bold; padding: 20px 0; position: absolute; bottom: 0; width: 100%; text-align: center;">
			<div class="container" style="max-width: 90%; text-align: center;">
				<a style="color: white; text-decoration: none;">&copy; 2024 - Derechos Reservados</a>
			</div>
		</footer>
	}
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
